.advantages {
  .wrapper-width ();
  padding-top: 38px;
  padding-bottom: 37px;

  @media (min-width: @sm-width) {
    .wrapper-padding();
  }

  @media (min-width: @lg-width) {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;

  @media (min-width: @sm-width) {
    align-items: center;
  }

  @media (min-width: @lg-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  flex-shrink: 0;

  display: grid;

  @media (min-width: @sm-width) {
    width: 460px;
  }

  @media (min-width: @lg-width) {
    width: 33%;
  }

  @media (min-width: @xxl-width) {
    width: auto;
  }
}

.advantages__item-name {
  position: relative;

  box-sizing: border-box;
  padding: 0 @xs-padding;
  padding-bottom: 15px;

  .font-basic();

  @media (min-width: @xxl-width) {
    padding-left: 0;
    padding-right: 192.5px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 1px;

    width: 100%;
    height: 1px;

    background-color: var(--color-font-basic);
    opacity: 0.5;
  }

  &::before {
    position: absolute;
    content: "";
    left: @xs-padding;
    bottom: -3px;
    z-index: 1;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: var(--color-special);

    @media (min-width: @xxl-width) {
      left: 0;
    }
  }
}

.advantages__item:last-of-type .advantages__item-name {
  @media (min-width: @xxl-width) {
    padding-right: 0;
  }
}

.advantages__item-value {
  padding: 0 @xs-padding;
  padding-top: 15px;

  .font-small();

  @media (min-width: @lg-width) {
    padding: 0;
    padding-top: 16px;
  }
}
