.app-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 260px;
  min-height: 54px;
  padding: 10px;

  text-align: center;

  transition: background-color .5s;

  .focus-styles();

  &--transparent {
    .font-basic-xs-bold();

    background-color: transparent;
    border: 2px solid currentColor;

    &:hover {
      color: var(--color-font-light);
      background-color: var(--color-bright);
      border-color: var(--color-bright);
    }

    &:active {
      color: var(--color-font-light);
      background-color: var(--color-ultra-back);
      border-color: var(--color-ultra-back);
    }
  }

  &--contrast {
    .font-basic-xs-bold();

    color: var(--color-font-light);
    background-color: var(--color-back-dark);

    &:hover {
      background-color: var(--color-special);
    }

    &:active {
      color: var(--color-font-light);
      background-color: var(--color-ultra-back);
    }
  }

  &--bright {
    .font-basic-sm-bold();

    color: var(--color-font-light);
    background-color: var(--color-bright);

    &:hover {
      background-color: var(--color-back-dark);
    }

    &:active {
      color: var(--color-font-light);
      background-color: var(--color-ultra-back);
    }
  }

  &--special {
    width: 100%;
    min-height: 60px;

    .font-basic-sm-bold();

    color: var(--color-font-light);
    background-color: var(--color-special);

    &:hover {
      background-color: var(--color-ultra-back);
    }

    &:active {
      background-color: var(--color-ultra-back);
    }
  }

  &--small {
    width: 194px;
    min-height: 45px;
  }
}
