.app-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 260px;
  min-height: 54px;
  padding: 10px;

  font-weight: 700;
  text-align: center;

  transition: background-color .5s;

  &--transparent {
    font-size: 14px;
    line-height: 122%;

    background-color: transparent;
    border: 2px solid currentColor;

    &:hover,
    &:focus-within {
      color: var(--color-font-light);
      background-color: var(--color-bright);
      border-color: var(--color-bright);
      outline: none;
    }

    &:active {
      color: var(--color-font-light);
      background-color: var(--color-ultra-back);
      border-color: var(--color-ultra-back);
    }
  }

  &--contrast {
    font-size: 14px;
    line-height: 122%;

    color: var(--color-font-light);
    background-color: var(--color-back-dark);

    &:hover,
    &:focus-within {
      background-color: var(--color-special);
      outline: none;
    }

    &:active {
      color: var(--color-font-light);
      background-color: var(--color-ultra-back);
    }
  }

  &--bright {
    font-size: 16px;
    line-height: 122%;

    color: var(--color-font-light);
    background-color: var(--color-bright);

    &:hover,
    &:focus-within {
      background-color: var(--color-back-dark);
      outline: none;
    }

    &:active {
      color: var(--color-font-light);
      background-color: var(--color-ultra-back);
    }
  }

  &--special {
    width: 100%;
    min-height: 60px;

    font-size: 16px;
    line-height: 105%;

    color: var(--color-font-light);
    background-color: var(--color-special);

    &:hover,
    &:focus-within {
      background-color: var(--color-ultra-back);
      outline: none;
    }

    &:active {
      background-color: var(--color-ultra-back);
    }
  }

  &--small {
    width: 194px;
    min-height: 45px;
  }
}
