.app-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  border: none;
  color: var(--color-font-basic);

  @media (min-width: @xl-width)  {
    align-items: start;
  }

  &--transform {
    @media (min-width: @xl-width) {
      flex-direction: row;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;

      max-width: unset;
    }

    @media (min-width: @xxl-width) {
      column-gap: 60px;
    }
  }
}

.app-form--dark {
  color: var(--color-font-light);
}

.app-form__label {
  width: 100%;
  max-width: 460px;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  @media (min-width: @xl-width) {
    &:not(:last-of-type) {
      margin-bottom: 22px;
    }

    &:last-of-type {
      margin-bottom: 25px;
    }
  }
}

.app-form--transform .app-form__label {
  @media (min-width: @xl-width) {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.app-form__input {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  padding: 10px 30px;

  font: inherit;
  color: currentColor;
  background-color: inherit;
  border: 1px solid var(--color-border-input);

  &:focus-visible {
    outline: none;
  }
}

.app-form--dark .app-form__input {
  color: var(--color-font-dark);
  background-color: var(--color-back-light);
  border: none;
}

.app-form__input:hover::placeholder,
.app-form__input:focus-visible::placeholder {
  opacity: .5;
}

.app-form__submit {
  width: 100%;
  max-width: 460px;
}

.app-form__submit-btn {
  width: 100%;
  max-width: 460px;
  margin-bottom: 6px;
}

.app-form__submit-annotation {
  display: block;

  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: center;
  text-wrap: balance;
}
