.brands {
  display: flex;
  flex-direction: column;

  .wrapper();
  padding-top: 38px;
  padding-bottom: 40px;

  @media (min-width: @sm-width) {
    align-items: center;
  }

  @media (min-width: @xxl-width) {
    padding-top: 98px;
    padding-bottom: 50px;
  }
}

.brands__title {
  margin-bottom: 34px;

  @media (min-width: @sm-width) {
    text-align: center;
  }

  @media (min-width: @xxl-width) {
    margin-bottom: 41px;
  }
}

.brands__list {
  display: grid;
  grid-template-columns: 1fr;

  border-left: @border;
  border-top: @border;

  @media (min-width: @md-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
  }

  @media (min-width: @lg-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: unset;
    grid-auto-flow: unset;
  }

  @media (min-width: @xxl-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.brands__list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 8 / 5;

  border-right: @border;
  border-bottom: @border;

  filter: grayscale(1);

  @media (min-width: @sm-width) {
    width: 320px;
  }

  @media (min-width: @xxl-width) {
    width: 250px;
    aspect-ratio: 1 / 1;
  }

  &:nth-of-type(2n) {
    background-color: @color-back-light;
  }

  &:hover {
    filter: grayscale(0);
  }
}

@border: 1px solid rgba(@color-contrast, 0.5);
