.call {
  display: none;
  // background-color: var(--color-blur);
}

.call__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
}

.call__feedback-form {
  padding-left: 10px;
  padding-right: 10px;
}
