.card {
  flex-shrink: 0;
  width: 320px;

  color: @color-basic;

  @media (min-width: @lg-width) {
    width: 460px;
  }
}

.card__wrapper {
  position: relative;

  background-color: rgba(@color-dark, 0.5);
}

.card__wrapper:hover {
  background-color: rgba(@color-dark, 0.7);
  cursor: pointer;
}

.card__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;

  transform: translateY(-50%);

  font-size: 29px;
  text-align: center;
  text-wrap: balance;

  transition: transform .5s, top .5s;

  @media (min-width: @lg-width) {
    top: 0;
    margin-top: 50%;

    font-size: 40px;

    transform: translateY(0);
  }
}

.card__wrapper:hover .card__title {
  top: 40px;
  margin-top: 0;

  transform: translate(0);
  transition: transform .5s, top .5s, margin .5s;

  @media (min-width: @lg-width) {
    top: 65px;
  }
}

.card__description {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  text-align: center;

  opacity: 0;

  transition: opacity .5s;
}

.card__wrapper:hover .card__description {
  opacity: 1;

  transition: opacity .5s;
}

.card__link {
  font-size: 16px;
  line-height: 115%;
  font-weight: 700;

  .interactive-styles();
}

.card__img {
  position: relative;
  z-index: -1;

  background-color: @color-back-dark;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
