.catalog {
  display: flex;
  flex-direction: column;

  padding-top: 40px;
  padding-bottom: 40px;
}

.catalog__title-container {
  .wrapper();
  margin-bottom: 20px;
}

.catalog__title {
  text-align: left;

  @media (min-width: @lg-width) {
    text-align: center;
  }
}

.catalog__slider {
  position: relative;
  margin-bottom: 20px;

  overflow: hidden;
}

.catalog__cards {
  display: grid;
  gap: 10px;

  .wrapper();

  @media (min-width: @sm-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @lg-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.catalog__slider-navigation {
  display: none;
  .wrapper-max-content();

  @media (min-width: @lg-width) {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    width: 100%;

    transform: translateY(-50%);
  }
}

.catalog__btn-container {
  .wrapper();
}

.catalog__btn {
  margin: 0 auto;
}
