.catalog {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: @lg-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.catalog__title {
  .wrapper-full-width();
  margin-bottom: 22px;

  @media (min-width: @lg-width) {
    margin-bottom: 41px;

    text-align: center;
  }
}

.catalog__slider-container {
  position: relative;
  .wrapper-full-width();

}

.catalog__slider {
  margin: 0;

  overflow: hidden;
}

.catalog__cards {
  display: flex;
}

.catalog__slider-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  width: 100%;

  .wrapper-padding();

  transform: translateY(50%);

  @media (min-width: @full-width) {
    bottom: 50%;

    max-width: @full-width;
    padding-left: 14px;
    padding-right: 14px;
  }
}
