.contacts {
  .wrapper();
  padding-top: 38px;
  padding-bottom: 40px;

  @media (min-width: @xl-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    column-gap: 40px;

    padding-top: 50px;
    padding-bottom: 110px;
  }
}

.contacts__top {
  margin-bottom: 20px;

  @media (min-width: @xl-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin-bottom: 42px;
    padding-top: 42px;
  }
}

.contacts__title {
  margin-bottom: 10px;
}

.contacts__title span {
  display: block;
  margin-top: -5px;
  font-size: 33px;

  @media (min-width: @sm-width){
    margin-top: 0;
    font-size: 40px;
  }
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 320px;
  margin-bottom: 20px;

  @media (min-width: @md-width) {
    height: 480px;
  }

  @media (min-width: @xl-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    width: 681px;
    height: 681px;
    margin-bottom: 0;
  }
}

.contacts__map img {
  position: absolute;
  inset: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contacts__bottom {
  @media (min-width: @xl-width) {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    display: flex;
    flex-direction: column;
    padding-bottom: 34px;
  }
}

.contacts__list {
  margin-bottom: 19px;

  @media (min-width: @xl-width) {
    margin-bottom: 40px;
  }
}

.contacts__btn {
  margin-bottom: 10px;

  @media (min-width: @xl-width) {
    margin-bottom: 15px;
  }
}

.contacts__anotation {
  display: none;

  @media (min-width: @xl-width) {
    display: block;
    margin-bottom: auto;

    opacity: .5;
  }
}
