.contacts {
  position: relative;
  .wrapper-width();
  padding-top: 38px;
  padding-bottom: 40px;

  @media (min-width: @xl-width) {
    padding-top: 51px;
    padding-bottom: 110px;
  }
}

.contacts__wrapper {
  .wrapper-padding();

  display: grid;
  gap: 20px;

  @media (min-width: @xl-width) {
    grid-template-columns: 1fr 570px;
    grid-template-rows: min-content min-content 1fr;
    row-gap: 30px;
    column-gap: 30px;
    padding-right: 0;
  }

  @media (min-width: @xxl-width) {
    grid-template-columns: 1fr 681px;
    row-gap: 40px;
    padding-right: @xl-padding;
  }
}

.contacts__head {
  @media (min-width: @xl-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @media (min-width: @xxl-width) {
    margin-top: 42px;
  }
}

.contacts__title {
  .font-title();
  margin-bottom: 10px;

  @media (min-width: @sm-width) {
    text-align: center;
  }

  @media (min-width: @xl-width) {
    text-align: left;
  }
}

.contacts__title span {
  display: block;
  margin-top: -5px;
  font-size: 33px;

  @media (min-width: @sm-width){
    margin-top: 0;
    font-size: 40px;
  }
}

.contacts__description {
  .font-basic();

  @media (min-width: @sm-width) {
    text-align: center;
  }

  @media (min-width: @xl-width) {
    text-align: left;
  }
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 320px;

  @media (min-width: @sm-width) {
    height: 390px;
  }

  @media (min-width: @md-width) {
    height: 480px;
  }

  @media (min-width: @xl-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 4;

    width: 100%;
    height: 570px;
  }

  @media (min-width: @xxl-width) {
    height: 681px;
  }
}

.contacts__map img {
  position: absolute;
  inset: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contacts__list {
  @media (min-width: @xl-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.contacts__bottom {
  @media (min-width: @xl-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: column;
  }

  @media (min-width: @xxl-width) {
    margin-bottom: 34px;
  }
}

.contacts__btn {
  margin-bottom: 10px;

  @media (min-width: @xl-width) {
    margin-bottom: 15px;
  }
}

.contacts__anotation {
  display: none;

  .font-basic-sm();

  @media (min-width: @xl-width) {
    display: block;
    margin-bottom: auto;

    opacity: .5;
  }
}

.contacts__slogan {
  .font-special();
}
