.credit {
  position: relative;

  .wrapper-width();
  padding-top: 38px;
  padding-bottom: 50px;

  @media (min-width: @xl-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.credit__wrapper {
  @media (min-width: @xl-width) {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr min-content;
    gap: 30px;
    padding-left: @xl-padding;
  }

  @media (min-width: @xxl-width) {
    grid-template-columns: minmax(460px, 1fr) minmax(auto, 910px);
    .wrapper-padding();
  }
}

.credit__feedback {
  .wrapper-padding();
  margin-bottom: 17px;

  text-align: left;

  @media (min-width: @xl-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;

    margin-bottom: auto;
    padding: 0;
  }

  @media (min-width: @sm-width) {
    text-align: center;
  }

  @media (min-width: @xl-width) {
    text-align: left;
  }

  @media (min-width: @xxl-width) {
    margin-top: 60px;
  }
}

.credit__slogan {
  .wrapper-padding();

  .font-special();

  @media (min-width: @xl-width) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: @xxl-width) {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    margin-bottom: 47px;
  }
}

.credit__images {
  display: grid;
  grid-template-columns: 34% 66%;
  grid-template-rows: 50% 50%;

  width: 100%;
  aspect-ratio: 3 / 2;

  @media (min-width: @sm-width) {
    height: 376px;
    aspect-ratio: unset;
  }

  @media (min-width: @md-width) {
    height: 430px;
  }

  @media (min-width: @xl-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    grid-template-columns: minmax(34%, 310px) minmax(66%, 600px);

    height: 100%;
  }

  @media (min-width: @xxl-width) {
    grid-row: 1 / -1;
    height: 611px;
  }
}

.credit__img {
  width: 100%;
  height: 100%;
}

.credit__img--left-top {
  grid-row: 1 / 1;
  grid-column: 1 / 2;
}

.credit__img--left-bottom {
  grid-row: 2 / -1;
  grid-column: 1 / 2;
}

.credit__img--right {
  grid-row: 1 / -1;
  grid-column: 2 / -1;
}

.credit__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
