.credit {
  position: relative;

  .wrapper-width();
  padding-top: 38px;
  padding-bottom: 50px;

  @media (min-width: @xl-width) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr min-content;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: @xxl-width) {
    grid-template-columns: 1fr 910px;

    .wrapper-padding();
  }
}

.credit__top {
  display: flex;
  flex-direction: column;

  .wrapper-padding();
  margin-bottom: 18px;

  @media (min-width: @sm-width) {
    align-items: center;
  }

  @media (min-width: @xl-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;

    align-items: start;
    margin-bottom: 0;
    padding-right: 30px;
  }

  @media (min-width: @xxl-width) {
    padding-right: 30px;
  }
}

.credit__title {
  margin-bottom: 7px;
  text-wrap: balance;

  @media (min-width: @sm-width) {
    text-align: center;
  }

  @media (min-width: @xl-width) {
    margin-bottom: 10px;
    text-align: left;
  }
}

.credit__description {
  margin-bottom: 20px;
  text-wrap: balance;

  @media (min-width: @sm-width) {
    text-align: center;
  }

  @media (min-width: @xl-width) {
    margin-bottom: 40px;
    text-align: left;
  }
}

.credit__description-mobile {
  @media (min-width: @xl-width) {
    display: none;
  }
}

.credit__description-desktop {
  display: none;

  @media (min-width: @xl-width) {
    display: block;
  }
}

.credit__annotation {
  color: @color-contrast;
}

.credit__bottom {
  .wrapper-padding();

  @media (min-width: @md-width) {
    max-width: @md-width;
    margin: 0 auto;
  }

  @media (min-width: @xl-width) {
    grid-column: 2 / 3;
    grid-row: 2 / -1;

    margin: 0;
  }

  @media (min-width: @xxl-width) {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    padding-bottom: 47px;
    padding-top: 26px;
  }
}

.credit__images {
  display: grid;
  grid-template-columns: 34% 66%;

  @media (min-width: @md-width) {
    max-width: @md-width;
    margin: 0 auto;
  }

  @media (min-width: @xl-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    max-width: unset;
  }

  @media (min-width: @xxl-width) {
    grid-row: 1 / -1;
  }
}

.credit__img--left-top {
  grid-row: 1 / 1;
  grid-column: 1 / 2;
}

.credit__img--left-bottom {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.credit__img--right {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.credit__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
