.credit {
  position: relative;

  .wrapper-width();
  padding-top: 38px;
  padding-bottom: 50px;

  @media (min-width: @xl-width) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr min-content;

    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: @xxl-width) {
    grid-template-columns: 1fr auto;

    .wrapper-padding();
  }
}

.credit__feedback {
  .wrapper-padding();
  margin-bottom: 17px;

  @media (min-width: @xl-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;

    margin-bottom: 0;
    padding-right: 30px;
  }

  @media (min-width: @xxl-width) {
    padding-left: 0;
    padding-right: 30px;
  }
}

.credit__feedback-description-mobile {
  @media (min-width: @xl-width) {
    display: none;
  }
}

.credit__feedback-description-desktop {
  display: none;

  @media (min-width: @xl-width) {
    display: block;
  }
}

.credit__annotation {
  color: var(--color-font-basic);
}

.credit__slogan-container {
  .wrapper-padding();

  @media (min-width: @md-width) {
    max-width: @md-width;
    margin: 0 auto;
  }

  @media (min-width: @xl-width) {
    grid-column: 2 / 3;
    grid-row: 2 / -1;

    margin: 0;
  }

  @media (min-width: @xxl-width) {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    padding-left: 0;
    padding-bottom: 47px;
    padding-top: 26px;
  }
}

.credit__slogan {
  .font-special();
}

.credit__images {
  display: grid;
  grid-template-columns: 34% 66%;

  @media (min-width: @md-width) {
    max-width: @md-width;
    margin: 0 auto;
  }

  @media (min-width: @xl-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    grid-template-columns: minmax(34%, 310px) minmax(66%, 600px);

    max-width: unset;
    height: 611px;
  }

  @media (min-width: @xxl-width) {
    grid-row: 1 / -1;
  }
}

.credit__img--left-top {
  grid-row: 1 / 1;
  grid-column: 1 / 2;
}

.credit__img--left-bottom {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.credit__img--right {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.credit__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
