.feedback {
  display: flex;
  flex-direction: column;

  @media (min-width: @sm-width) {
    align-items: center;
    text-align: center;
  }

  &--modal {
    align-items: center;
    text-align: center;
  }

  &--left {
    @media (min-width: @xl-width) {
      align-items: start;
      text-align: left;
    }
  }

  &--dark {
    color: var(--color-font-light);
  }
}

.feedback__head {
  display: flex;
  flex-direction: column;
  gap: 9px;

  margin-bottom: 20px;

  @media (min-width: @xl-width) {
    gap: 12px;
    margin-bottom: 40px;
  }
}

.feedback__title {
  .font-title();
}

.feedback__title span {
  display: none;

  @media (min-width: @xl-width) {
    display: inline;
  }
}

.feedback__description {
  .font-basic();
}

.feedback--modal .feedback__description {
  @media (min-width: @xl-width) {
    .font-title();
  }
}

.feedback__description-short {
  @media (min-width: @xl-width) {
    display: none;
  }
}

.feedback__description-long {
  display: none;

  @media (min-width: @xl-width) {
    display: block;
  }
}

.feedback__anotation {
  .font-basic-sm();
  text-wrap: balance;
}

.feedback__anotation b {
  font-weight: 700;
  text-wrap: nowrap;
}

.feedback--modal .feedback__anotation{
  @media (min-width: @xl-width) {
    .font-basic();
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: none;

  .font-basic-sm();
}

.feedback--transform .feedback__form {
  @media (min-width: @xl-width) {
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: @xxl-width) {
    column-gap: 60px;
  }
}

.feedback__label {
  @media (min-width: @sm-width) {
    width: 460px;
  }
}

.feedback__input {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 60px;
  padding: 10px 30px;

  font: inherit;
  background-color: inherit;
  border: 1px solid var(--color-border-input);

  &:focus-visible {
    outline: none;
  }
}

.feedback--dark .feedback__input {
  color: var(--color-font-dark);
  background-color: var(--color-back-light);
  border: none;
}

.feedback__input:hover::placeholder,
.feedback__input:focus-visible::placeholder {
  opacity: .5;
}

.feedback__submit-group {
  margin-top: 10px;

  @media (min-width: @sm-width) {
    width: 460px;
  }
}

.feedback--transform .feedback__submit-group {
  @media (min-width: @xl-width) {
    margin-top: 0;
  }
}

.feedback__submit-btn {
  width: 100%;
  margin-bottom: 6px;
}

.feedback__submit-annotation {
  display: block;

  .font-basic-xs();
  text-align: center;
}

.feedback--left .feedback__submit-annotation {
  @media (min-width: @xl-width) {
      align-items: start;
      text-align: left;
  }
}
