.gallery {
  display: none;
}

.gallery__wrapper {
  position: relative;

  width: 360px;
  min-width: 360px;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 40px;

  background-color: var(--color-back-basic);

  @media (min-width: @sm-width) {
    width: 480px;
  }

  @media (min-width: @md-width) {
    width: 640px;
  }

  @media (min-width: @lg-width) {
    width: 840px;
  }

  @media (min-width: @lg-width) {
    width: 840px;
  }

  @media (min-width: @xl-width) {
    width: 1200px;
  }

  @media (min-width: @xl-width) {
    // max-width: 1500px;
  }
}

.gallery__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  @media (min-width: @xl-width) {
    top: 50px;
    right: 50px;
  }
}
