.intro {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 21px;

  @media (min-width: @xl-width) {
    display: block;
    padding: 0;
  }
}

.intro__wrapper {
  width: 320px;
  padding: 69px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--color-blur);

  @media (min-width: @md-width) {
    width: 460px;
    padding-top: 99px;
    padding-bottom: 99px;
  }

  @media (min-width: @xl-width) {
    align-items: start;

    width: 100%;
    padding: 124px 30px 61px 70px;

    background: transparent;
  }
}

.intro__title {
  margin-bottom: 21px;

  .font-title ();
  line-height: 115%;
  word-spacing: -0.2em;
  color: var(--color-font-light);

  @media (min-width: @md-width) {
    margin-bottom: 57px;

    font-size: 60px;
  }

  @media (min-width: @xl-width) {
    margin-bottom: 12px;

    font-size: 60px;
    color: var(--color-font-basic);
  }
}

.intro__title span {
  display: block;
}

.intro__title-span-1 {
  margin-bottom: -6px;

  color: var(--color-font-dark);

  text-shadow:
    1px 0 var(--color-font-light),
    -1px 0 var(--color-font-light),
    0 1px var(--color-font-light),
    0 -1px var(--color-font-light);

  @media (min-width: @xl-width) {
    margin-bottom: 7px;

    font-size: 70px;
    color: var(--color-back-basic);
    text-shadow:
      2px 0 var(--color-font-basic),
      -2px 0 var(--color-font-basic),
      0 2px var(--color-font-basic),
      0 -2px var(--color-font-basic);;
  }
}

.intro__title-span-2 {
  padding-left: 88px;

  @media (min-width: @xl-width) {
    padding-left: 144px;
  }
}

.intro__title-span-3 {
  padding-left: 24px;

  @media (min-width: @xl-width) {
    padding-left: 48px;
  }
}

.intro__call-btn {
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  @media (min-width: @xl-width) {
    margin-left: 59px;
  }
}
