.lead-magnet {
  position: relative;
  padding-top: 38px;
  padding-bottom: 39px;

  color: var(--color-font-light);
  background-color: var(--color-back-img);

  background-image: image-set(
    url("../img/magnet/magnet-mobile.webp") type("image/webp") 1x,
    url("../img/magnet/magnet-mobile@2x.webp") type("image/webp") 2x,
    url("../img/magnet/magnet-mobile.png") type("image/png") 1x,
    url("../img/magnet/magnet-mobile@2x.png") type("image/png") 2x,
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    position: absolute;
    content: "";
    inset: 0;

    width: 100%;
    height: 100%;

    background-color: var(--color-blur);
  }

  @media (min-width: @lg-width) {
    padding-top: 48px;
    padding-bottom: 27px;

    background-image: image-set(
      url("../img/magnet/magnet-desktop.webp") type("image/webp") 1x,
      url("../img/magnet/magnet-desktop@2x.webp") type("image/webp") 2x,
      url("../img/magnet/magnet-desktop.png") type("image/png") 1x,
      url("../img/magnet/magnet-desktop@2x.png") type("image/png") 2x,
    );
  }
}

.lead-magnet__feedback {
  position: relative;
  z-index: 1;

  .wrapper();
}

.lead-magnet__feedback-title span {
  display: none;

  @media (min-width: @xl-width) {
    display: inline;
  }
}
