.main-nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  min-height: 110px;
  .wrapper-padding();
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: @xl-width) {
    min-height: 135px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 47px;
  }
}

.main-nav__toogles {
  display: flex;
  align-items: center;
  gap: 13px;
  flex-wrap: wrap;
}

.main-nav__bottom {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  align-items: center;

  .wrapper-padding();
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @xl-width) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 57px;
    padding-bottom: 51px;
  }
}

.main-nav__social-list {
  justify-content: end;
}

.main-nav__middle {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  flex-wrap: wrap;

  padding: 20px 0 40px;

  @media (min-width: @xl-width) {
    flex-direction: row;
    column-gap: 15px;
    row-gap: 5px;

    padding: 25px 0 48px;
  }
}

.main-nav__phone {
  order: 1;
  flex-shrink: 0;

  @media (min-width: @xl-width) {
    order: unset;
  }
}
