.navigation-btn {
  position: relative;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: @color-special;

  @media (min-width: @lg-width) {
    width: 60px;
    height: 60px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 30%;

    width: 0;
    height: 0;

    border: 8px solid transparent;

    @media (min-width: @lg-width) {
      border-width: 12px;
    }
  }

  &--prev::before {
    left: 20%;

    border-right-color: @color-basic;
  }

  &--next::before {
    right: 20%;

    border-left-color: @color-basic;
  }

  &:hover,
  &:focus-visible {
    background-color: @color-contrast;
    outline: none;
  }
}
