.page {
  min-width: @min-width;
  height: 100%;
  margin: 0 auto;

  font-family: @font-page;
  .font-basic();
}

.page__body {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  margin: 0;

  color: var(--color-font-basic);
  background-color: var(--color-back-basic);
}

.page__main {
  flex-grow: 1;

  margin-bottom: 40px;

  @media (min-width: @xl-width) {
    margin-bottom: 0;
  }
}
