.page {
  min-width: @min-width;
  height: 100%;
  margin: 0 auto;

  font-family: @font-page;
  .font-basic();
}

.page__body {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  margin: 0;

  color: var(--color-font-basic);
  background-color: var(--color-back-basic);
}

.page__main {
  flex-grow: 1;

  margin-bottom: 40px;

  @media (min-width: @xl-width) {
    margin-bottom: 0;
  }
}

.page__main--advantages {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -129px;
    right: -144px;
    z-index: -1;

    width: 414px;
    height: 400px;

    background-image: url("../../img/decor/decor-light-01.png");
    background-repeat: no-repeat;
    background-size: 414px 400px;
    background-position: center;

    transform: rotate(-122deg);

    overflow: hidden;
  }
}
