.product {
  .wrapper-width();

  display: none;

  &--active {
    display: block;
  }
}

.product__title {
  margin-bottom: 22px;
  padding: 0 10px;

  .font-title();
  font-size: 29px;
  text-align: center;

  @media (min-width: @xl-width) {
    margin-bottom: 41px;

    font-size: 40px;
  }
}

.product__images-container {
  @media (min-width: @sm-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @lg-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}

.product__images-container--top .product__img {
  @media (min-width: @sm-width) {
    &:nth-of-type(5) {
      display: none;
    }
  }
}

.product__images-container--bottom .product__img {
  &:nth-of-type(1) {
    display: none;
  }

  @media (min-width: @sm-width) {
    &:nth-of-type(1) {
      display: block;
    }
  }
}

.product__img {
  @media (min-width: @lg-width) {
    &:nth-of-type(4) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }
  }
}

.product__img img {
  width: 100%;
  object-fit: cover;
}

.product__feedback {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @lg-width) {
    padding-top: 48px;
    padding-bottom: 27px;
  }
}

.product__feedback-head {
  padding-left: 10px;
  padding-right: 10px;
}

.product__feedback-form {
  .wrapper-padding();
}
