.product__wrapper {
  min-width: 360px;
  width: calc(100% - 30px);

  background-color: var(--color-back-basic);

  @media (min-width: @xl-width) {
    width: calc(100% - 60px);
    max-width: 1500px;
  }
}

.product__title {
  margin-bottom: 22px;
  padding: 0 10px;

  .font-title();
  font-size: 29px;
  text-align: center;

  @media (min-width: @xl-width) {
    margin-bottom: 41px;

    font-size: 40px;
  }
}

.product__images-container {
  @media (min-width: @sm-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @lg-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}

.product__images-container--top .product__img {
  @media (min-width: @sm-width) {
    &:nth-of-type(5) {
      display: none;
    }
  }
}

.product__images-container--bottom .product__img {
  &:nth-of-type(1) {
    display: none;
  }

  @media (min-width: @sm-width) {
    &:nth-of-type(1) {
      display: block;
    }
  }
}

.product__img {
  @media (min-width: @lg-width) {
    &:nth-of-type(4) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }
  }
}

.product__img img {
  width: 100%;
  object-fit: cover;
}

.product__feedback {
  padding: 20px 10px;

  @media (min-width: @xl-width) {
    padding: 48px 30px 27px;
  }
}
