.product {
  position: relative;
  .wrapper-width();
  padding-top: 93px;
  padding-bottom: 40px;
}

.product-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.product__title {
  .wrapper-padding();
  margin-bottom: 20px;

  text-align: center;
}

.product__images-container {
  @media (min-width: @md-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}

.product__images-container--top .product__img {
  @media (min-width: @md-width) {
    &:nth-of-type(5) {
      display: none;
    }
  }
}

.product__images-container--bottom .product__img {
  &:nth-of-type(1) {
    display: none;
  }

  @media (min-width: @md-width) {
    &:nth-of-type(1) {
      display: block;
    }
  }
}

.product__img {
  &:nth-of-type(4) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}

.product__img img {
  width: 100%;
  object-fit: cover;
}

.product__feedback {
  .wrapper();
  padding-top: 20px;
  padding-bottom: 20px;

}
