.site-list {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 115%;
  text-align: center;
  color: var(--color-font-light);

  &--transform {
    @media (min-width: @lg-width) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 20px;;
    }

    @media (min-width: @xl-width) {
      column-gap: 70px;
    }
  }
}

.site-list__link {
  .interactive-styles();
}
