.social-list {
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;

  color: var(--color-font-light);
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__link {
  position: relative;

  width: 25px;
  height: 25px;

  .focus-styles();
  // &:focus-visible {
  //   outline: 1px solid var(--color-font-light);
  //   outline-offset: 1px;
  // }
}

.social-list__link svg {
  color: currentColor;
  overflow: visible;
}
