.social-list {
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__link {
  width: 25px;
  height: 25px;

  background-color: @color-contrast;
  border-radius: 50%;

  @media (min-width: @lg-width) {
    background-color: @color-basic;
  }
}

.social-list__link svg {
  color: @color-basic;
  overflow: visible;

  @media (min-width: @lg-width) {
    color: @color-contrast;
  }
}

.social-list__link:hover,
.social-list__link:focus-visible {
  background-color: @color-basic;
  outline: none;

  // @media (min-width: @lg-width) {
  //   background-color: @color-basic;
  // }
}

.social-list__link:hover svg,
.social-list__link:focus-visible svg {
  color: @color-special;
  outline: none;

  @media (min-width: @lg-width) {
    color: @color-dark;
  }
}
