.theme-toggle {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  &::before {
    position: absolute;
    content: "";
    inset: 0;

    width: 100%;
    height: 100%;
    background-color: currentColor;
    border-radius: 50%;
  }

  .focus-styles();
}

.theme-toggle svg {
  color: var(--color-back-basic);
  z-index: 1;
}
