.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  background-color: @color-basic;
  border-radius: 50%;
}

.theme-toggle svg {
  color: @color-alternative;
}
