@color-white: #ffffff;
@color-black-01: #000000;
@color-black-02: #2d2d2d;
@color-black-03: #0F0F0F;
@color-black-04: #070707;
@color-black-05: #0a0a0a;
@color-green: #102f28;
@color-red: #c73d42;
@color-grey: #f4f4f4;
@color-green-02: #47AD4C;
@color-red-02: #FF0505;

:root {
  /* Common Theme */
  --color-font-dark: @color-black-02;
  --color-font-light: @color-white;
  --color-back-light: @color-white;
  --color-back-dark: @color-black-02;
  --color-back-img: @color-black-02;
  --color-special: @color-green;
  --color-bright: @color-red;
  --color-ultra-back: @color-black-01;
  --color-blur: fade(@color-black-01, 50%);
  --color-card-blur: fade(@color-black-01, 70%);
  --color-card-blur-hover: fade(@color-black-01, 80%);
  --color-success: @color-green-02;
  --color-error: @color-red-02;

  /* Light Theme */
  --color-font-basic: var(--color-font-dark);
  --color-back-basic: var(--color-back-light);
  --color-btn-basic: var(--color-special);
  --color-border-brand: fade(@color-black-02, 50%);
  --color-back-brand: @color-grey;
  --color-border-input: fade(@color-black-02, 50%);
  --color-back-footer: @color-black-02;
}

/* Dark Theme */
.dark-theme {
  --color-font-basic: var(--color-font-light);
  --color-back-basic: @color-black-03;
  --color-btn-basic: @color-white;
  --color-border-brand: @color-black-04;
  --color-back-brand: @color-black-05;
  --color-border-input: fade(@color-white, 50%);
  --color-back-footer: @color-black-01;
}
