.wrapper-width {
  box-sizing: border-box;
  width: 100%;

  @media (min-width: @xxl-width) {
    max-width: @max-width;
    margin-right: auto;
    margin-left: auto;
  }
}

.wrapper-padding {
  box-sizing: border-box;
  padding-right: @mobile-padding;
  padding-left: @mobile-padding;

  @media (min-width: @xxl-width) {
    max-width: @xxl-width;
    padding-right: @desktop-padding;
    padding-left: @desktop-padding;
  }
}

.wrapper {
  .wrapper-width();
  .wrapper-padding();
}

.wrapper-max-content {
  .wrapper-width();
  .wrapper-padding();

  @media (min-width: @xxl-width) {
    max-width: @max-content-width;
    padding-left: @max-content-padding;
    padding-right: @max-content-padding;
  }
}


// .interactive-styles {
//   &:hover {
//     color: @color-orange;
//   }

//   &:focus-visible {
//     color: @color-orange;
//     outline: none;
//   }

//   &:active {
//     color: @color-orange;
//   }
// }

// .interactive-styles-custom {
//   &:hover {
//     opacity: 0.7;
//   }

//   &:focus-visible {
//     opacity: 0.7;
//     outline: none;
//   }

//   &:active {
//     opacity: 0.7;
//   }
// }

.cross-icon(@color) {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 6px;
    right: 12px;

    width: 2px;
    height: 24px;
    margin: 0 auto;

    background-color: @color;

    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
