.wrapper-width {
  box-sizing: border-box;
  width: 100%;

  @media (min-width: @xl-width) {
    max-width: @max-width;
    margin-right: auto;
    margin-left: auto;
  }
}

.wrapper-padding {
  box-sizing: border-box;
  padding-right: @mobile-padding;
  padding-left: @mobile-padding;

  @media (min-width: @xl-width) {
    max-width: @xxl-width;
    padding-right: @desktop-padding;
    padding-left: @desktop-padding;
  }
}

.wrapper {
  .wrapper-width();
  .wrapper-padding();
}

.wrapper-full-width {
  .wrapper;

  @media (min-width: @full-width) {
    max-width: @full-width;
    padding-left: @full-padding;
    padding-right: @full-padding;
  }
}

.interactive-styles {
  &:hover,
  &:focus-visible {
    color: @color-contrast;
    outline: none;
  }
}

.interactive-styles-custom {
  &:hover,
  &:focus-visible {
    outline: 1px solid @color-basic;
    outline-offset: 1px;
  }
}

.cross-icon(@color) {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 6px;
    right: 12px;

    width: 2px;
    height: 24px;
    margin: 0 auto;

    background-color: @color;

    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
