@font-page: "Montserrat", sans-serif;

@color-back-basic: #ffffff;
@color-back-alternative: #0f0f0f;
@color-back-special: #c4c4c4;
@color-grey-2: #f4f4f4;

@color-basic: #2d2d2d;
@color-alternative: #ffffff;

@color-contrast: #c73d42;
@color-special: #102f28;
@color-black: #000000;

@min-width: 375px;
@max-width: 1920px;

@sm-width: 520px;
@md-width: 720px;
@lg-width: 1010px;
@xl-width: 1190px;
@xxl-width: 1560px;
@xxxl-width: 1720px;

@min-padding: 27.5px;
@sm-padding: 30px;

@xxxl-padding: 110px;
