@font-page: "Montserrat", sans-serif;

@color-back-basic: #ffffff;
@color-back-alternative: #0f0f0f;
@color-back-special: #c4c4c4;

@color-basic: #2d2d2d;
@color-alternative: #ffffff;

@color-contrast: #c73d42;
@color-special: #102f28;
@color-black: #000000;

@min-width: 375px;
@max-width: 1920px;

@sm-width: 515px;
@md-width: 715px;
@lg-width: 1010px;
@xl-width: 1190px;
@xxl-width: 1560px;

@mobile-padding: 27.5px;
@desktop-padding: 30px;

@full-width: 1720px;
@full-padding: 110px;
