@font-page: "Montserrat", sans-serif;

@min-width: 375px;
@max-width: 1920px;

@sm-width: 520px;
@md-width: 720px;
@lg-width: 1010px;
@xl-width: 1260px;
@xxl-width: 1560px;
@xxxl-width: 1720px;

@xs-padding: 27.5px;
@sm-padding: 30px;

@xxxl-padding: 110px;
